body{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin:0;
    padding:0;
}
ul{
    padding:0;
    margin: 0;
}

.my-bdy{
    height: 400px;
   
}

canvas{
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}