<!DOCTYPE html>
<html lang="en" ng-app="Locket-Builder">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <link rel="stylesheet" href="app.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body ng-controller="Main">
    
    <div class="container" style="margin-top:5%;">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10">
               <div class="panel panel-default">
                <div class="panel-heading">Categories</div>
                <div class="panel-body">
                     <ul>
                    <li>
                        <button  class="btn btn-block"  ng-click="show(showTable,'chains')" >chains</button>
                        <div ng-repeat="chain in chains">
                            <button class="btn btn-success btn-block"  ng-if="showTable == true && showCategory == 'chains' " ng-click="addToCart(chain)">{{chain.name}} - {{chain.price}}</button>
                        </div>
                    </li>
                </ul>
                 <ul>
                    <li>
                        <button class="btn btn-block"  ng-click="show(showTable,'lockets')" >lockets</button>
                        <div ng-repeat="locket in lockets">
                            <button class="btn btn-success btn-block"  ng-if="showTable == true && showCategory == 'lockets' " ng-click="addToCart(locket)">{{locket.name}} - {{locket.price}}</button>
                        </div>
                    </li>
                </ul>
                 <ul>
                    <li>
                        <button class="btn btn-block" ng-click="show(showTable,'charms')" >charms</button>
                        <div ng-repeat="charm in charms">
                            <button class="btn btn-success btn-block" ng-if="showTable == true && showCategory == 'charms' " ng-click="addToCart(charm)">{{charm.name}} - {{charm.price}}</button>
                        </div>
                    </li>
                </ul>
                </div>
               </div>
            </div>

            <!---canvas-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10">
                    <div class="panel panel-default">
                     <div class="panel-heading">Canvas</div>
                     <div class="panel-body my-bdy">
                        
                    </div>
                </div>
            </div>

            <!---sub cart-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10">
                    <div class="panel panel-default">
                     <div class="panel-heading">Cart</div>
                     <div class="panel-body ">
                        <div ng-repeat="citem in cart.items">
                            <div>{{citem.name}} - {{citem.price}}</div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h4>Total:{{cart.total()}}</h4>
                    </div>
                </div>
            </div>
        
            
    </div>

    <script src="app.js"></script>
</body>
</html>